*{
    margin: 0;
    overflow: auto;

}
.wrapper{
    background:url("/img/pexels-fwstudio-129731.jpg");
    background-repeat:no-repeat;
    
}
   
@media screen and (min-width:750px){
.gridwrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
          "hd hd hd hd hd"
          "na na na na na"
          "a1 se se se se"
          "a1 se se se se"
          "fo fo fo fo fo";
      
background:url("/img/pexels-fwstudio-129731.jpg");
height:130vh;
}
}
.img{
    margin-left: 45%;
    margin-right: 55%;
}

.header{
    grid-area:hd;
    height:150px;

}

@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

a:hover { 
    color: gray; 
    opacity: 20%;
  }

a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#ffffff;
  margin:0 15px;
  font-size:34px;
  letter-spacing:1px;
  display:inline-block;
  text-align: center;
}




.section{
    grid-area:se;
    font-family: 'Dancing Script', cursive;
    margin-right:50px;
    margin-left:50px;
    
    
    
   

}

.article1{
    
    grid-area:a1;
    height:250px;
    width: 250px;
    margin-left:20px;
    margin-bottom: 0;
    overflow:visible;
    line-height:50px;
    
    


}


    

footer{
    grid-area: fo;
    height: 100px;
    display:flex;
    justify-content: center;
    gap: 60px;
}

@media screen and (min-width:750px){
.nav{
    grid-area:na;
    display:flex;
    width:60vw;
    justify-content: space-around;
    margin:auto;

}
}


.huvudtext{
    font-size: 300%  ;
}

.innerdiv{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-template-areas:
        "fb ig tw"


}

@media screen and (min-width:750px){
.fb{
    grid-area: fb;
}
}
@media screen and (min-width:750px){
.ig{
    grid-area: ig;
}
}
@media screen and (min-width:750px){
.tw{
    grid-area:tw;
}
}


